.grid {
    margin: 4rem auto;
    display: flex;
    flex-flow: row wrap;
    width: 39rem;
}

.game-stats-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem auto;
    width: 18vw;

}

.label-turn {
    margin: 1rem auto;
    display: flex;
}

.winner {
    background-color: rgb(83, 181, 213);
}