.gamehistory-container {
  display: flex;
  margin: auto;
  max-width: 20vw;
  flex-direction: column;
  list-style: none;

  .btn-step {
    margin: 0.5rem auto;
    background-color: #a2a62dd9;
    width: 100%;
  }
}
