.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.gameHistory-container {
  width: 80px;
}

.gameHistory-container button {
  width: 120px;
}

// All labels on page will have font-size of 14px
label {
  font-size: 1.4rem;
}
